<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>

 
  <!--Production-->
  <appSettings>
    <add key="ClientId" value="Your ID Here - integer value"/>
    <add key="ClientPassword" value="Password Guid here."/>
    <add key="SubUnitId" value="sub unit ID here - integer value"/>
  </appSettings>
  
</configuration>